/nbproject/private/
/Aserenity-ejb/nbproject/private/
/Aserenity-war/nbproject/private/
/Bibliotheque/nbproject/private/

/Aserenity-ejb/build/
/Aserenity-war/build/
/Bibliotheque/build/

/Aserenity-ejb/dist/
/Bibliotheque/dist/
/Aserenity-war/dist/

/build/
/dist/

/Aserenity-war/web/WEB-INF/glassfish-web.xml
Aserenity-war/web/WEB-INF/glassfish-web.xml
glassfish-web.xml


